body{
  margin: 0;
  padding: 0;
}
#navbar {
  width: 1200px;
  margin: auto;
  font-family: sans-serif;
  display: flex;
  color: #344056;
  position: sticky;
}
.nev{
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.09) 0px 2px 8px 0px;
  padding: 10px 0px;
}
.login {
  background-color: white;
  width: 80px;
  padding: 10px 0px;
  border: 1px solid #6682ff;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
}
.login a {
  text-decoration: none;
  color: #6682ff;
}
#navbar li a{
  text-decoration: none;
  color: #344056;
}
.login:hover {
  background-color: #6682ff15;
}
.register {
  width: 100px;
  border: none;
  padding: 10px 0px;
  background-color: #ff7555;
  color: white;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
}
.register:hover {
  background-color: #ff7455ce;
  cursor: pointer;
}
.register > a {
  text-decoration: none;
  color: white;
}
.employer {
  cursor: pointer;
  position: relative;
  border-left: 1px solid grey;
  height: 20px;
  margin: auto;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  font-size: 16px;
}
.employer i {
  margin-left: 6px;
  font-size: 14px;
  color: #161616;
}
.employer:hover ul{
  display: block;
}
.employer:hover{
  color: black;
}
.employer ul{
  display: none;
  background-color: white;
  position: absolute;
  top: 18px;
  line-height: 32px;
  list-style: none;
  padding: 16px 28px 14px 30px;
  border-radius: 16px 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.button {
  width: 230px;
  padding-left: 200px;
  padding-right: -120px;
  height: 40px;
  margin-left: 180px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#navbar > ul {
  list-style: none;
  display: flex;
  width: 450px;
  padding-left: 0px;
  height: auto;
  align-items: center;
  font-size: 16px;
  justify-content: space-evenly;
}
#navbar > ul > li {
  margin: 0px 10px;
}
.dropdown li:hover {
  color: #6682ff;
}
.dropdown > div:nth-child(2) {
  width: auto;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  padding: 18px 10px;
  margin: 30px 0px 0px -300px;
  line-height: 35px;
  position: absolute;
  justify-content: space-evenly;
  list-style: none;
  display: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dropdown > div:nth-child(2) > ul {
  list-style: none;
  width: 220px;
  border-left: 1px solid rgba(128, 128, 128, 0.308);
}
.dropdown > div:nth-child(2) > ul:hover {
  display: flex;
}
.dropdown > div:nth-child(2) > ul:nth-child(1) {
  border: none;
}
.dropdown div:nth-child(1):hover + div {
  display: flex;
}
.dropdown div:nth-child(1):hover{
  color: #161616;
}
.dropdown div:nth-child(1):hover hr {
  display: block;
}
.dropdown div:nth-child(1) >hr:hover .dropdown div:nth-child(2) {
  display: flex;
}
.dropdown div:nth-child(1) {
  height: 15px;
}
.dropdown div:nth-child(1):hover {
  cursor: pointer;
}
 hr {
  display: none;
  height: 5px;
  background-color: #ff7555;
  border: none;
  border-radius: 5px;
}
#navbar > img {
  height: 26px;
  margin: auto;
  display: flex;
  align-items: center;
}
